{% load static %}
<!DOCTYPE html>
<head>
<title>Kulfi</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

<style>


body, html {
  height: 250%;
  margin: 0;
  font-family: verdana;
}
.bg-image {

  background-image: url("{% static 'images/picture3.jpeg' %}");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
    text-align: center;
    font-size: 60px;
    color: red;
}
.picture {
    margin-left: 400px;
    margin-top: 20px;
    height: 300px;
    width: 450px;
}
.recipe {
    font-size: 23px;
    font-family: verdana;
    text-align: justify;
    margin-left: 20px;
    overflow: hidden;
}

.icon {
    margin-left: 250px;
    height: 50px;
    width: 50px;
}
.text {
    font-size: 25px;
}

</style>
</head>
<body class="bg-image">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <<a href= "/"><img src="{% static 'images/logo.jpg' %}" width = 200px height = 60px></a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp; &nbsp; &nbsp;&nbsp;
     
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="            Find a recipe" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
     </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'kitchenhacks' %}">Kitchen Hacks <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item  active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         
            <a class="dropdown-item" href="{% url 'starters' %}">Appetizers</a>
            <a class="dropdown-item" href="{% url 'main' %}">Main Course</a>
            <a class="dropdown-item" href="{% url 'desserts' %}">Desserts</a>
             <a class="dropdown-item" href="{% url 'beverages' %}">Beverages</a>
           
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
      </li>
      <li class="nav-item active">
        {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>{% else %}
     <li class="nav-item active">
      <a class="nav-link" href="{% url 'user_login' %}">LogIn</a>

    </li>
    {% endif %}
  </ul>
 
</nav>

<div class="heading">Kulfi<b></b> </div>
<div> <img class="picture" src="{% static 'images/dessert2.jpeg' %}" /> </div>
<br>
<br>
<br>
<div class="text" > <img  class="icon" src= "{% static 'images/icon1.svg' %}"/> Cook Time: 35mins 
<img class="icon" src="{% static 'images/icon2.svg' %}" /> Servings: 2</div>
<br>
<br>
<br>

 
<div class="recipe"><pre>
<b>Ingredients Of Kulfi :</b>
2 Cups Milk
1 cup Condensed Milk
2 tbsp Cornflour
1 tsp Cardamom Powder
2 tbsp Almonds crushed
1 tbsp Cashews crushed
2-3 Cardamoms crushed
10-12 sticks Saffron
</pre>
</div>
{% if user.is_authenticated %}

<br>
<div class="recipe">
<pre>
<b> Procedure:</b>
1.Take milk in a pan, bring to simmer while stirring.
2.Add condensed milk to the pan.
3.Stir well.
4.Now add crushed cardamoms to the pan.
5.Stir thoroughly and bring it to boil.
6.Add chopped cashews and almonds to the boiling milk, stir well.
7.Take the cardamom powder, saffron and cornflour separately 
dissolved in a tsp of milk, add them to the boiling milk mixture.
8.Stir it thoroughly to make a thick consistency.
9.Keep it aside to cool down completely.
10.After it has cooled down, put the thick paste in to separate moulds of kulfi.
11.Refrigerate the moulds for 7-8 hours.
12.Serve the chilled frozen kulfi, sprinkled with almonds and cashews.
</pre>
</div>
{% else %}
<button type="button" class="btn btn-success" style="margin-left:40px"><a href ="{% url 'register' %}">Read More</a></button>
{% endif %}
<br>


</body>
</html>

