{% load static %}
 <!DOCTYPE html>
<head>
<title>Chicken Biryani</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

<style>


body, html {
  height: 320%;
  margin: 0;
  font-family: verdana;
}
.bg-image {

  background-image: url("{% static 'images/picture3.jpeg' %}");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
    text-align: center;
    font-size: 60px;
    color: red;
}
.picture {
    margin-left: 400px;
    margin-top: 20px;
    height: 300px;
    width: 450px;
}
.recipe {
    font-size: 23px;
    font-family: verdana;
    text-align: justify;
    margin-left: 20px;
    overflow: hidden;
}

.icon {
    margin-left: 250px;
    height: 50px;
    width: 50px;
}
.text {
    font-size: 25px;
}

</style>
</head>
<body class="bg-image">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/"><img src="{% static 'images/logo.jpg' %}" width = 200px height = 60px></a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp; &nbsp; &nbsp;&nbsp;
     
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="            Find a recipe" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
     </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'kitchenhacks' %}">Kitchen Hacks <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item  active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <a class="dropdown-item" href="#">Appetizers</a>
          <a class="dropdown-item" href="#">Main Course</a>
          <a class="dropdown-item" href="#">Desserts</a>
         <a class="dropdown-item" href="#">Beverages</a>
          
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
      </li>
      <li class="nav-item active">
          {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>{% else %}
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'user_login' %}">LogIn</a>

      </li>
      {% endif %}
    </ul>
</nav>

<div class="heading"> <b> Chicken Biryani</b> </div>
<div> <img class="picture" src="{% static 'images/main1.jpeg' %}" /> </div>
<br>
<br>
<br>
<div class="text" > <img  class="icon" src="{% static 'images/icon1.svg' %}" /> Cook Time: 135mins 
<img class="icon" src="{% static 'images/icon2.svg' %}" /> Servings: 4</div>
<br>
<br>
<br>

 
<div class="recipe"><pre>
<b>Ingredients Of Chicken Dum Biryani:</b>
500 Gram chicken legs
<b>For the marinade:</b>
1 tsp red chilli powder
2 tsp ginger garllic paste
1/2 cup yogurt
1/2 tsp turmeric pwoder
1 tsp coriander powder
1 tsp garam masala powder
1 1/2 tsp salt
<b>For the rice:</b>
A pinch of saffron
1/2 cup milk
2 cups water
5 cardamoms
3 cloves
1 stick cinnamon
2 mace
2 black cardamom
5 black peppercorn
1/2 tsp salt
1 cup rice (long grain, washed basmati rice)
<b>For the finishing:</b>
1 tbsp ghee
1 tbsp coriander leaves, chopped
2 tbsp fried onion
3 almonds, chopped
</pre>
</div>


{% if user.is_authenticated %}
<br>
<div class="recipe">
<pre>
<b> Procedure:</b>
1.First mix the saffron in half a cup of milk and keep aside.
2.Now in a bowl, add all the marination ingredients and coat the chicken pieces well with it. 
 Let it marinate for about 4 hours.
3.Now to prepare the rice, put all the ingredients given except saffron and milk, 
 in warm water along with washed rice.
4.Cook for 10-15 minutes.
5.Heat some ghee in a pan and add all the marinated chicken followed by cooked rice in it. 
Top with saffron milk, coriander leaves, fried onion and chopped almonds. Mix well.
6.Let it cook on a low heat (on dum, in it's own heat) covered with foil for about 20-30 minutes
 (till the water evaporates and chicken and rice are fully cooked).
7.Open the dum when cooked, mix the rice well. You can drizzle with some rose water and serve hot.
</pre>
</div>
{% else %}
<button type="button" class="btn btn-success" style="margin-left:40px"><a href ="{% url 'register' %}">Read More</a></button>
<br>
{% endif %}



</body>
</html>