{% load static %}
<!DOCTYPE html>
<head>
<title>Paneer Butter Masala</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

<style>


body, html {
  height: 350%;
  margin: 0;
  font-family: verdana;
}
.bg-image {

  background-image: url("{% static 'images/picture3.jpeg' %}");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
    text-align: center;
    font-size: 60px;
    color: red;
}
.picture {
    margin-left: 400px;
    margin-top: 20px;
    height: 300px;
    width: 450px;
}
.recipe {
    font-size: 23px;
    font-family: verdana;
    text-align: justify;
    margin-left: 20px;
    overflow: hidden;
}

.icon {
    margin-left: 250px;
    height: 50px;
    width: 50px;
}
.text {
    font-size: 25px;
}

</style>
</head>
<body class="bg-image">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/"><img src="{% static 'images/logo.jpg' %}" width = 200px height = 60px></a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp; &nbsp; &nbsp;&nbsp;
     
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="            Find a recipe" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
     </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'kitchenhacks' %}">Kitchen Hacks <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item  active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'starters' %}">Appetizers</a>
            <a class="dropdown-item" href="{% url 'main' %}">Main Course</a>
            <a class="dropdown-item" href="{% url 'desserts' %}">Desserts</a>
             <a class="dropdown-item" href="{% url 'beverages' %}">Beverages</a>
           
          
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
      </li>
      <li class="nav-item active">
        {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>{% else %}
     <li class="nav-item active">
      <a class="nav-link" href="{% url 'user_login' %}">LogIn</a>

    </li>
    {% endif %}
  </ul>
</nav>

<div class="heading"> <b> Paneer Butter Masala</b> </div>
<div> <img class="picture" src="{% static 'images/main3.jpeg' %}" /> </div>
<br>
<br>
<br>
<div class="text" > <img  class="icon" src="{% static 'images/icon1.svg' %}" /> Cook Time: 60mins 
<img class="icon" src="{% static 'images/icon2.svg' %}" /> Servings: 4</div>
<br>
<br>
<br>

 
<div class="recipe"><pre>
<b>Ingredients Of Paneer Butter Masala:</b>
<b>For frying Paneer:</b>
1 Tbsp Oil
1 Cup Paneer cubes
1/2 tsp Salt
2 tsp Red chilli powder
<b>For gravy:</b>
1/2 Tbsp Oil
2 cubes Butter
1 Black cardamom
1 Cinnamon stick
5 Green cardamom
1 tsp Ginger
1 tsp Garlic
1/2 Cup Onion, chopped
1 Cup Tomato, chopped
7-8 Nos Cashews
1/4 tsp Green chilli, chopped
1/2 tsp Oil
2 cubes Butter
2 tsp Salt
1 tsp Red chilli powder
1/2 tsp Coriander powder
1/2 tsp Cumin powder
1/4 tsp Garam masala
1/4 tsp Black pepper
1/2 tsp Kasoori methi
1/2 tsp Honey
3/4 Cup Milk
1 Tbsp Cream
1/2 tsp Cardamom powder
</pre>
</div>
{% if user.is_authenticated %}

<br>
<div class="recipe">
<pre>
<b> Procedure:</b>
1.Heat oil in a pan.
2.Put paneer cubes to it. Add salt and red chilli powder to it.
3.Pan fry the paneer cubes.
Prepare the gravy:
1.Heat oil in a pan again. Add butter.
2.Now add black cardamom, cinnamon and green cardamom.
3.Stir a little and then add ginger and garlic.
4.Mix well.
5.Put chopped onion and tomato. Mix again.
6.Add cashews and green chilli to the mix and puree the mixture.
7.Now heat oil in another pan. Add butter.
8.Once the butter starts to flutter, add the pureed mixture to the pan.
9.Mix and let it simmer.
10.Add salt, red chilli powder, coriander powder, cumin powder, garam masala and black pepper. Mix well.
11.Keep stirring and let the gravy simmer and add kasoori methi followed by honey.
12.Add fried paneer cubes to the simmering gravy. Mix well.
13.Now add milk and mix thoroughly.
14.Let it come to simmer and then add cream along with cardamom powder. Mix well.
15.Serve hot.
</pre>
</div>
{% else %}
<button type="button" class="btn btn-success" style="margin-left:40px"><a href ="{% url 'register' %}">Read More</a></button>
{% endif %}
<br>


</body>
</html>
